@font-face {
    font-family: "Helvetica";
    src: url(../font/helvetica-neue-59511705ab1c2.ttf) format("truetype");
}
html {
    font-family:Helvetica,Arial,sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
body {
    margin:0
}
/* Estilos del Layout */
/* Menu principal*/
.btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 100%;
}
.btn-pages{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.btn-pages:hover{
    color: #fff;
    background-color: #E68E1D;
    border-color: #E68E1D;
}
.loginbtn{
    position: relative;
    top: 12px;
    float: right;
}
a {
  color: indianred;
  opacity: 1;
  text-decoration: none;
}
a:hover {
  opacity: 0.85;
  text-decoration: underline;
}

.content {
  text-align: center;
  margin-top: 2em;
}

/* Navigation Styles */
/* Header */
.header {
  width: 100%;
  background: #C11115;
  height: 58px;
  line-height: 50px;
  border-bottom: 4px solid #A3131B;
  box-shadow: 0px -3px 16px 0px rgba(0,0,0,0.75);
  position: fixed;
  z-index: 1000;
}

.wrap {
  max-width: 1200px;
  /* Changge this with your max-width size */
  margin: 0 auto;
}

.logo {
  font-family: inherit;
  font-size: 1.5em;
  margin-left: 1em;
  background-color: #A3131B;
  padding: 0 2% 0 2%;
}
.logo a {
  color: #fff;
  text-decoration: none;
  opacity: 1;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.logo a img{
    width: 107px;
    position: relative;
    top: 6px;
}
.logo a:hover {
  opacity: 0.85;
}

/* Mobile menu */
#menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 1em;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  padding: 0 0.4em;
}
#menu-icon:hover {
  opacity: 0.85;
  text-decoration: none;
  border: none;
}

.navbar {
  float: none;
  max-height: 0;
  overflow: hidden;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  -webkit-transition: max-height 0.4s;
  transition: max-height 0.4s;
}
.navbar .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #C11115; 
  box-shadow: 0 -3px 0 #A3131B inset;
}
.navbar .menu li {
  list-style-type: none;
  display: block;
}
.navbar .menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0 0.8em;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-bottom: 1px solid #db8b8b;
  height: 62px;
}
.navbar .menu li a:hover {
  background-color: #A3131B;
}
.navbar .menu li a.active {
  background-color: #A3131B;
}

.expand {
  max-height: 20em;
}

@media only screen and (min-width: 768px) {
  .wrap {
    padding-left: 1em;
    padding-right: 1em;
  }

  .logo {
    margin-left: 0;
  }

  .logo, .navbar {
    display: inline-block;
  }

  /* Mobile menu icon */
  #menu-icon {
    display: none;
  }

  .navbar {
    float: right;
    max-height: none;
  }
  
  .navbar .menu li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
  }
  .navbar .menu li a {
    display: block;
    border-bottom: 0;
  }
  .navbar .menu li a:hover {
    box-shadow: 0 -3px 0 indianred inset;
  }
  .navbar .menu li a.active {
    box-shadow: 0 -3px 0 indianred inset;
  }
}
/* Fin de los estilos del Menu principal*/
/* Footer*/
footer {
    bottom: 0;
    position: fixed !important;
    padding: 0px 7px 9px 40px;
    box-shadow: 0 1px 11px rgba(0,0,0,0.3);
    background-color: #333 !important;
    border: none !important;
    width: 100%;
    height: 40px;
    z-index: 1000;
}
footer p{
    color:white;
}
/* Fin de los estilos del Footer*/